body{
    background-color: rgba(255, 72, 0, 0.432);
}
h1.title{
    color: blue;
    text-align: center;
}
div.footer{
    text-align: center;
    background-color: yellow;
}
span.footer{
   color: red;
}
input.bitcoin2{
    color: red;
}
